REACT_APP_OPENWEATHER_API_KEY=your_openweather_api_key
# Use City,StateCode,US for US cities (or City,CountryCode internationally)
REACT_APP_CITY=Springfield,IL,US
WEATHER_DISPLAY_START=07:00
WEATHER_DISPLAY_END=09:00
